{% extends "base.html" %}

{% block title %}Change Password{% endblock %}
<head>
</head>
<body>

{% block content %}
<body style="background-image: url('/static/imgs/log.jpg'); background-size:120%">
    <div class="row justify-content-center">
        <div class="col-8">
          <div class="card mb-4">
            <div class="card-body">
              <h2>Change password</h2>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Change password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
{% endblock %}  
