{% extends 'base.html' %}

{% block title %}Setting New password{% endblock title %}

{% block content %}
<body style="background-image: url('/static/imgs/log.jpg'); background-size:100%">
<h4>Set New Password</h4>
<div class = "container" > 
  <div class="card col-md-4 offset-md-4">

<form action="" method="post">
    {% csrf_token %}
    {% if validlink %}
        <p>Please enter your new password twice. 
           So we can verify you typed it in correctly.</p>

        <p>
            <p>new password</p>{{ form.new_password1.errors }}<br/> 
           {{ form.new_password1 }}
        </p>

        <p class="button-height"><p>confirm password</p>
            {{ form.new_password2.errors }}<br/>
            {{ form.new_password2 }}
        </p>
    {% else %}
        <h4>Password reset unsuccessful</h4>
        <p>The password reset link was invalid, 
           possibly because it has already been used.
           Please request a new password reset.</p><br/>
    {% endif %}

    <button type="submit" class="btn btn-primary">Change my password</button>
</form>
</div>
</div>
</body>
{% endblock content %}