{% extends "base.html" %}

{% block title %}Reset{% endblock %}
<head>
</head>
<body>

{% block content %}
<body style="background-image: url('/static/imgs/log.jpg'); background-size:100%">
<div class = "container" > 
    <div class="card col-md-4 offset-md-4">
        <h1 class="title">Reset Password</h1>
        <p>Forgotten your password? 
            Enter your e-mail address below, 
            and we'll e-mail instructions for setting a new one.</p>
     
         <form action="" method="post">
             {% csrf_token %}
             {% if form.email.errors %}`enter code here`
             <div class="message red-gradient">{{ form.email.errors }}</div><br/>
             {% endif %}
     
             <p>E-mail address: {{ form.email }} <br/><br/>
         <input type="submit" value="Reset my password"></p>
         </form>
    </div>  
</div>
</body>
{% endblock %}  
