
.header {
  overflow: hidden;
  background-image: linear-gradient(to right, #fafafa,rgb(102, 102, 243));
  background-size: 100%;
  font-family: cursive;
  height: fit-content;
  width:100%
}
.header-center
{
  padding: 20px;
  margin-left: 2em;
  text-shadow: black;
  float: left;
}
.header-right
{
  margin-top: 1.2em;
  text-shadow: black;
  float: right;
}
button{
  border: none;
  color: white;
  text-decoration: none;  
  text-align: center;
  cursor: pointer;
}

.Search-box
{
float: left;
margin-left: 9em;
margin-right: 9px;
border:  solid rgb(189, 186, 186);
margin-top: 15px;
}
.search-btn
{
  float: left;
  padding:30px ;
  margin-top: 0.7em;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
img
{
  max-width: 100%;
  padding: 0%;
}
.header a {
  float: left;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  float: left;

}
.header a:hover {
  background-color: #ddd;
  color: rgb(133, 111, 111);
}
.header a.active {
  background-color: rgb(2, 125, 248);
  color: white;
}
.header .menu {
  list-style:none;
  float:left;
  margin:0;
  padding:0;
}

form p {
overflow:auto;
}

.card p {
margin:10px 0 20px;
width:100%;
float:left;
}
.card
{
margin: 20px 2px 20px 2px;
box-shadow:0px 0px 10px 1px grey;
border-radius: 5px;
padding-bottom:20px ;
}
.course-list
{
box-shadow:0px 0px 10px 1px rgb(63, 63, 63);
border-radius: 15px;
margin: 3em 0em 2em 0em ;
height: 300px;
background: rgb(255, 255, 255);
}

input{
margin-bottom: 15px;
padding:10px;
width:100%;
box-sizing: border-box;
border-radius: 5px;
height:50px;
border:0px;
font-family: georgia;
font-size: 11pt;
text-align: center;
}
ul
{
list-style-type: none;
}

.sb-sidebar {
border-radius: 5px 0 0 5px;
background-color: #27384c;
width: 0px;
height: 75%;
position: fixed;
top: 15%;
right: 0;
color: #E1E1E1;
box-shadow: -10px 9px 11px -5px rgba(0,0,0,0.44);
transition-duration:1.2s;
}

.sb-close {
position: fixed;
top: 15%;
right: 0%;
padding: 10px 20px ;
background: #eb001f;
color: #ffffff;
cursor: pointer;
transition: 1.2s
}

.dash-list
{
box-shadow:0px 0px 10px 1px rgb(63, 63, 63);
border-radius: 15px;
margin: 3em 0em 0em 3em ;
width: 100px;
height: 100%;
background: rgb(255, 255, 255);
}

#Banner
{
  background-image:url(/static/imgs/people.jpg);
  padding-top: 17%;
  padding-left: 823px;
  background-size:100%;
  color: rgb(0, 0, 0);
}

.titl
{
  font-weight: 200;
  font-size: 35px;
  font-family: cursive;
  width: 100px;
  height: 100%;

}

@media (min-width: 600px) {
  .course-list:hover {
    margin-top: -1px;
    margin-bottom: 1px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
}

.dash-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  background: rgb(255, 255, 255);
}

.row-image{
  width: 80px;
}
