{% extends "base.html" %}
{% block content %}
<div class = "container-fluid" style="margin-top: 5em;">  
  <div class="row">
    <div class = "card text-center col-md-4 offset-md-4" style = "color:#48C6B1;background-color:rgb(255, 255, 255);">
        <h1>VIDYA</h1>
        <p>This is a model for delivering learning content online to any person who wants to take a course, with no limit on attendance.
            We provides you the best resources to enhance and repair your concepts. Unbundling and rebundling are happening in different parts of college and university education, through new forms of teaching and learning provision and in different parts of the degree path, in every dimension and aspect—creating a complicated environment in an educational sector that is already in a state of disequilibrium.
        </p>
    </div>
    <div class = "card text-center col-md-4 offset-md-4" style = "color:#48C6B1;background-color:rgb(255, 255, 255);">
        <h1>About Us</h1>
        <ul>
            <br><br>
            <li><h4>Karre Kamal</h4></li>
            <li><h4>Jasti Pranay</h4></li>
            <li><h4>Peddi Hrithik</h4></li>
            <li><h4>Manda Sai Prabha</h4></li>
        </ul>
    </div> 
</div>  
{% endblock %}